@charset "utf-8";


body{
    margin: 0;
    padding: 0;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

#i01{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
}

#relogio {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 20px;
    left: 0;
    text-align: center;
    background-image: URL(02.png);
    background-repeat: no-repeat;
    opacity: 0;
}

#relogio img {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    opacity: 1;
    width: 35px;
    padding-top: 111px;
}

#doisPontos {
    width: 17px !important;
}

#i02{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
}

#i03,#i04,#i05,#i06,#i07{
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0; 
}

#fundo {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #753c73;
    opacity: 0;
}

#i08 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 250px;
    background: transparent url('08.png') no-repeat;
}

#i09{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
}

#i10{
    position: absolute;
    top: 30;
    left: 0;
    opacity: 0; 
}
